<head>
    <title>Mis perris</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/core/css/Page.css">
    <link rel="icon" type="image/png" href="../static/core/img/patitas.jpg">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'page2' %}" <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"> Mis Perris </font>
        </font>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
        aria-expand="false" aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon"> </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'mascota'%}">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"> Ingreso mascota </font>
                    </font>
                    <span class="sr-only">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"> (actual) </font>
                        </font>
                    </span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'listar'%}">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"> Listar mascota </font>
                    </font>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'modificar'%}">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"> Modificar </font>
                    </font>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'eliminar'%}">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"> Eliminar </font>
                    </font>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <br>
    <div class="fondo">
        <div class="row">
            <h2>Modificar mascota</h2>
        </div>
        <form method="POST" class="form-horizontal">{% csrf_token %}
            <fieldset>

                <!-- Nombre-->
                <div class="form-group">
                        <label class="col-md-4 control-label">Nombre</label>
                        <div class="col-md-4">
                            <input placeholder="nombre" class="form-control input-md" required="" type="text" name="nombre" value="{{ma.nombre}}">
                            <input type="submit" name="btnAccion" value="Buscar">
                        </div>
                    </div>
                

                  <!-- Nombre2-->
                <div class="form-group">
                        <label class="col-md-4 control-label">Nombre</label>
                        <div class="col-md-4">
                            <input placeholder="nombre" class="form-control input-md" required="" type="text" name="nombre2" value="{{ma.nombre}}" readonly>
                            
                        </div>
                </div>
                    
                <!-- Raza-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Raza</label>
                    <div class="col-md-4">
                        <input placeholder="Raza" class="form-control input-md"  type="text" name="raza" value="{{ma.raza}}">
                    </div>
                </div>

                <!-- Descripcion-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Descripcion</label>
                    <div class="col-md-4">
                        <input placeholder="Descripcion" class="form-control input-md"  type="text" name="descripcion" value="{{ma.descripcion}}">
                    </div>
                </div>

                <!-- Estado-->
                <div class="form-group">
                        <label class="col-md-4 control-label">Estado</label>
                        <div class="col-md-4">
                            <select class="selectpicker form-control" name="estado" value="{{ma.estado}}"  >
                                <option>Seleccione</option>
                                <option value="Adoptado">Adoptado</option>
                                <option value="Rescatado">Rescatado</option>
                                <option value="Disponible"> Disponible</option>
                            </select>
                        </div>
                    </div>

                <!-- Archivo adjunto -->
                
                <!--boton-->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                    <input type="submit" name="btnAccion" value="Modificar">

                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>