    /*padding = relleno*/
    /*width = ancho*/
    /*height = altura*/
body{
    background-color:rgb(111, 216, 193);  
    background-size: 100vw 100vh;  
}
div{
    background-color:#34b4a3d7;
    padding: 15px;
    width: auto;
    height: auto;
}
.clase{
    background-image: url("../img/logo.png")
}
#encabezado{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding: 300px;
}
.blanco{
    color: white;
}
.plomo{
    color:slategray;
}
l {
    float: left;
    width: auto;
    height: auto;
}
r {
    float: right;
    width: auto;
    height: auto;
    padding:10px;
}
z {
    float: left;
    width: auto;
    height: auto;
    margin: 3px;
    padding: 10px;
    border: black 2px solid;
}
#letra{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
div1{
    background: white;
    padding: 5px;
}
.tabla{
background: rgb(111, 216, 193);
}
/*galeria*/
.modal{
    display: none;
}
.modal:target{
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal h3{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}
.imagen{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen a{
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}
.imagen a:nth-child(2){
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}
.imagen img{
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}
.cerrar{
    display: block;
    background: #fff;
    width: 40px;
    height: 40px;
    margin:15px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: #000;
    padding: 15px;
    border-radius: 50%;
    line-height: 10px;
}

.descripcion{
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font: outline;
}